---
import data from "../data/main.json";
---

<section id="ponentes" class="ponentes page py-20">
  <h2>Ponentes confirmados</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-2">
    {
      data.people.map((item) => (
        <>
          <div class="relative grid grid-rows-[max-content]">
            <img
              src={`https://publicimmuneassets.s3.eu-west-1.amazonaws.com/people/${item.photo}.webp`}
              alt={item.name}
              height="256"
              width="256"
              loading="lazy"
              class="w-full h-64 object-cover"
            />
            {item.logo && (
              <>
                <img
                  src={`https://publicimmuneassets.s3.eu-west-1.amazonaws.com/logos/${item.logo[0]}`}
                  alt={item.logo[1]}
                  height="20"
                  width="144"
                  loading="lazy"
                  class="absolute top-0 right-0 p-2 w-auto h-6 box-content bg-neutral-50"
                />
              </>
            )}
            <div class="glass p-2 bg-neutral-950/50 text-neutral-50">
              <h3>{item.name}</h3>
              {item.position && (
                <p class="reset">
                  <small>{item.position}</small>
                </p>
              )}
            </div>
          </div>
        </>
      ))
    }
  </div>
</section>
