---
// Supports weights 200-800
import "@fontsource-variable/plus-jakarta-sans";
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es" id="smooth-wrapper">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
  </head>
  <body class="bg-primary-950 font-body overflow-x-hidden min-h-dvh">
    <slot />
    <style is:global>
      /** Scrollbar */
      ::-webkit-scrollbar {
        @apply w-2;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        @apply bg-transparent;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        @apply bg-primary-400;
      }

      :focus-visible {
        outline: theme(colors.primary.400) solid 1px;
      }

      .glass {
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        @apply border border-neutral-50/10;
      }

      .page,
      .full-page {
        @apply px-3 mx-auto;
      }

      .page {
        @apply max-w-desktop; /** 1024px */
      }

      .cols {
        --gap: theme(spacing.10);
        @apply grid;

        grid-template-columns: repeat(
          auto-fit,
          minmax(
            min(
              100%,
              calc(
                (
                    theme(spacing.breakpoint) - (theme(spacing.3) * 2) -
                      (var(--gap) * (var(--cols) - 1))
                  ) / var(--cols)
              )
            ),
            1fr
          )
        );
        gap: var(--gap);
      }

      .cols[data-cols="2"] {
        --cols: 2;
      }

      .cols[data-cols="3"] {
        --cols: 3;
      }

      .cols[data-cols="4"] {
        --cols: 4;
      }

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      @keyframes zoom {
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    </style>
  </body>
</html>
